@font-face {
    font-family: "Mont";
    src: local("Mont"),
        url("../assets/fonts/Mont/Mont-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mont";
    src: local("Mont"),
        url("../assets/fonts/Mont/Mont-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Mont";
    src: local("Mont"),
        url("../assets/fonts/Mont/Mont-Heavy.ttf") format("truetype");
    font-weight: bolder;
}

@font-face {
    font-family: "Mont";
    src: local("Mont"),
        url("../assets/fonts/Mont/Mont-Light.ttf") format("truetype");
    font-weight: lighter;
}
